@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  font-weight: 400;
}

.header {
  display: none;
  background-color: #272a31;
}

#header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 5%;
}

.header-item {
  padding: 10px 10px;
  color: #fbfefb;
  font-size: 16px;
  cursor: pointer;
}

#header-list .icon {
  font-size: 18px;
}

.header-item > a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.mobile-nav {
  display: block;
  margin-left: 25px;
  font-size: 32px;
}

.desktop-nav {
  display: none;
  margin-top: 25px;
}

nav ul {
  float: right;
  margin-right: 8%;
}
nav li {
  display: inline-block;
  margin: 0 5px;
  color: #272a31;
}
nav a {
  color: #272a31;
}

.home-section {
  background-image: linear-gradient(to right bottom, rgba(198, 202, 197, 0.8), rgba(86, 88, 88, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading-primary {
  color: #ec5242;
  margin: 90px 0 50px 0;
}

.heading-primary-sub {
  display: block;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.heading-primary-main {
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.home-description {
  border: 3px solid #fff;
  box-shadow: 0 5px 5px rgba(222, 222, 222, 0.82), 0 5px 5px rgba(222, 222, 222, 0.82);
  padding: 20px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 40px;
  width: 90%;
  margin-left: 20px;
}

.contact-us {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.container {
  width: 100%;
  padding: 30px 10px;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #d3d3d3;
}

.sec-title {
  width: 80%;
  text-align: center;
  margin: 20px 40px;
  padding: 10px 20px;
}

.text-center {
  width: 80%;
  text-align: center;
}

.logo-desc {
  border: 2px solid #d3d3d3;
  display: flex;
  margin: 40px 20px 40px 40px;
  align-items: center;
  gap: 20px;
}

.image-overlay {
  background-color: rgba(236, 83, 60, 0.788);
}

.logo-desc img {
  width: 200px;
  height: 200px;
  margin-left: 60px;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book {
  position: relative;
  opacity: 0.8;
}

.hi-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: -1;
  height: 100%;
}

.info {
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}

.info h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.foot-cont {
  background-color: #272a31;
}

.foot-head h1 {
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0;
  padding: 40px 0 10px 0;
  color: #fff;
}

.foot-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  padding: 30px 0;
}

.part {
  filter: invert(100%);
  width: 100px;
}

.footer-cont {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.footer-box img {
  width: 100px;
  height: 100px;
}

.footer-box p {
  padding-top: 25px;
  margin-left: -20px;
  font-weight: 700;
}

.footer-text p {
  margin-top: 30px;
}

.hide {
  display: none;
}

.overlay {
  width: 90vw;
  min-height: 812px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 28px;
  background-color: #6070ff;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .header {
    display: block;
  }
  .header ul li {
    transition: 0.2s ease-out;
  }
  .header ul li:hover {
    color: #ec5242;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    margin: 20px 32px;
  }
  .logo-wrapper {
    display: flex;
    gap: 5px;
  }
  .home-logo {
    height: 50px;
  }
  .desktop-nav a:hover {
    color: #ec523c;
  }
  .nav-list {
    margin-top: -40px;
    margin-right: 90px;
  }
  .nav-list li:last-child {
    border: 3px solid #ec5242;
    padding: 10px;
  }
  .hide {
    display: block;
  }
  .home-container {
    width: 70%;
    margin-left: 200px;
  }
  .contact-us {
    margin-left: 150px;
  }
  .footer-cont {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
  .footer-box img {
    width: 100px;
    height: 100px;
  }
  .footer-box p {
    padding-top: 25px;
    margin-left: -20px;
    font-weight: 700;
  }
  .footer-text p {
    margin-top: 30px;
  }
  .sec-title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .text-center {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .logo-desc {
    width: 50%;
    justify-content: center;
    padding: 10px 5%;
    margin-left: 25%;
    gap: 60px;
  }
  .history {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  .footer-cont {
    width: 100%;
  }
  .footer-box {
    width: 35%;
    display: flex;
    flex-direction: row;
  }
  .footer-box p {
    width: 30%;
    padding-top: 32px;
  }
  .footer-text {
    width: 35%;
    margin-left: -50px;
    padding-top: 10px;
  }
}/*# sourceMappingURL=about.css.map */