$primary-color: #EC5242;
$secondary-color: #272A31;
$tertiary-color: #D3D3D3;

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: $tertiary-color;
    font-weight: 400;
}

.mobile-nav {
    display: block;
    margin-left: 15px;
    font-size: 32px;
}
.desktop-nav {
    display: none;
}

nav {
   ul {
    float: right;
    margin-right: 20px;
   }

   li {
    display: inline-block;
    margin: 0 5px;
    color: $secondary-color;
   }

   a {
    color: $secondary-color;
   }
}

.heading-primary {
    color: $primary-color;
    margin-top: 90px;
}

.heading-primary-sub {
    display: block;
    font-size: 40px;
    font-weight: 300;
}

.heading-primary-main {
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.date {
    font-size: 32px;
    font-weight: 400;
}

// Main Program Styling

.main-program {
    background-color: $secondary-color;
    margin-top: 100px;
}

.main-heading {
    color: $tertiary-color;
    text-align: center;
    padding-top: 30px;
}

.main-div{
    margin-top: 25px;
}

.sub-div {
    display: flex;
    gap: 45px;
   background-color: #e1e4eb31;
   margin-bottom: 10px;
   padding: 25px;

}

.icon {
    display: inline-block;
}

.lecture {
    color: $primary-color;
}

.lecture-t {
    color: $tertiary-color;
}

.join {
    background-color: $primary-color;
    color: $tertiary-color;
    padding: 20px;
    width: 50%;
    margin:50px 25%;
}

// FEATURES SECTION

.feature-heading {
    text-align: center;
    padding-top: 50px;
}

.sub-features{
    display: flex;
    gap: 25px;
    margin: 60px 40px;
}

.feature-img {
    height: 150px;
    width: 150px;
}

.feature-name{
    font-weight: 400;
    font-size: 25px;
}

.feature-text{
    color: $primary-color;
    margin: 5px 0 25px 0;
    font-size: 15px;
}

.feature-text-2 {
    font-size: 15px;
}







@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    }
}